body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Container {
    display: flex;
    border-style: solid;
    border-color: black;
    height: 70vh;
    width: 70vh;
    flex-direction: column;
}

.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}

.columnDiv {
    border: 1px solid;
    border-color: black;
    height: 100%;
    width: 100%;
}

.changeSize {
    padding: 20px;
    border: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: aqua;
    color: rgb(15, 15, 124);
    font-weight: bolder;
    font-size: 16px;
}